body,
wrapper {
  min-height: 100vh;
}

.flex-fill {
  flex: 1 1 auto;
}
.footer {
  margin: top -60px;
  box-shadow: 0px -8px 8px -6px rgba(0, 0, 0, 0.5);
}

nav {
  padding: 0px 20px 0px 20px;
}
.card-body {
  padding: 0px;
}
.gram-img {
  width: 670px;
  height: auto;
}
