{% extends 'blog/base.html' %} {% load static %} {% load humanize %}{% block content %}
<div class="row">
  <div class="col-md-8 col-sm-12">
    {% for post in posts %}
    <div class="card mb-5" style="width: 42rem; padding: 0px">
      <div class="card-header">
        <strong>{{ post.creator }}</strong>
        <!-- Button trigger modal -->
        <button type="button" class="btn float-end" data-bs-toggle="modal" data-bs-target="#exampleModal{{post.id}}">
          . . .
        </button>

      </div>
      <div class="card-body">
        <img class="gram-img" src="{{post.url.url}}" />
      </div>
      <div class="card-footer" style="margin: 0%">
        <small class="text-muted">{{ post.timestamp| naturaltime }} </small>
      </div>
    </div>


        <!-- Modal -->
        <div
        class="modal fade"
        id="exampleModal{{post.id}}"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-body text-center">
              <p><a class=" no-underline" href="#">Report</a></p>
              <hr>
              <p><a href="#">Unfollow</a></p>
              <hr>
              <p><a href="#">Go to post</a></p>
              <hr>
              <p><a href="#">Share to</a></p>
              <hr>
              <p><a href="#">Report</a></p>
              <hr>
              <p><a href="#">Copy Link</a></p>
              <hr>
              <p><a href="#">Embed</a></p>
              <hr>
              <p><a href="#">Cancel</a></p>
            </div>
  
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="col-md-4 col-sm-12">
    <h1>sidebar</h1>
  </div>

  </div>
</div>

{% endblock %}
