{% extends 'blog/base.html' %} {% load static %} {% load humanize %}{% block content %}
<div class="row">
  <div class="col-md-8 col-sm-12">
    {% for post in posts %}
    <div class="card mb-5" style="padding: 0px">
      <div class="card-header">
        <img class="profile-card-img" src="{{post.creator.profile.image.url}}" alt="profile picture"><strong class="ms-2">{{ post.creator }}</strong>
        <!-- Button trigger modal -->
        <button type="button" class="btn float-end" data-bs-toggle="modal" data-bs-target="#exampleModal{{post.id}}">
          . . .
        </button>

      </div>
      <img style="height: 100%;" src="{{post.url.url}}" />

      <div class="card-body">
      </div>
      <div class="card-footer" style="margin: 0%">
        <small class="text-muted">{{ post.timestamp| naturaltime }} </small>
      </br>
        
        {% for comment in post.comments.all %}
        <img class="profile-card-img" src="{{comment.creator.profile.image.url}}" alt="profile picture"><strong class="ms-2">{{ comment.creator }}</strong>
        <p class="small-text">{{comment.body }}</p>
        <small class = "text-muted">{{comment.timestamp| naturaltime }}</p>
        <hr>
        {% endfor %}
      </div>
    </div>


        <!-- Modal -->
        <div
        class="modal fade"
        id="exampleModal{{post.id}}"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-body text-center">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="{% url 'image-detail' post.id %}">Go to post</a></li>
                <li class="list-group-item"><a href="#">Copy Link</a></li>
              </ul>
            </div>
  
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="col-md-4 col-sm-12">
    <h1>sidebar</h1>
  </div>

  </div>
</div>

{% endblock %}
