{% extends 'blog/base.html' %} {% load static %} {% load humanize %}{% block content %}
<div class="row">
  <div class="col-md-8 col-sm-12">
    <div class="card mb-5" style="padding: 0px">
      <div class="card-header">
        <img class="profile-card-img" src="{{object.creator.profile.image.url}}" alt="profile picture"><strong class="ms-2">{{ object.creator }}</strong>
        <!-- Button trigger modal -->
        <div class="float-end">
          <a class="btn btn-primary btn-sm mt-1 mb-1 me-1" href="#">Add Comment</a>

          {% if object.creator == user %}
            <a class="btn btn-secondary btn-sm mt-1 mb-1 me-1" href=" {% url 'image-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1 me-1" href=" {% url 'image-delete' object.id %}">Delete</a>
          {% endif %}
  
        </div>


      </div>
      <img style="height: 100%;" src="{{object.url.url}}" />

      <div class="card-body">
      </div>
      <div class="card-footer" style="margin: 0%">
        <small class="text-muted">{{ object.timestamp| naturaltime }} </small>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-12">
    <h1>Actions</h1>
    <p><a class="btn btn-outline-primary mt-1 mb-1" href="#">Add Comment</a></p>
      {% if object.creator == user %}
        <p><a class="btn btn-outline-secondary mt-1 mb-1" href=" {% url 'image-update' object.id %}">Update</a></p>
        <p><a class="btn btn-outline-danger mt-1 mb-1" href=" {% url 'image-delete' object.id %}">Delete</a></p>
      {% endif %}
  </div>

  </div>
</div>

{% endblock %}
